.photo-container__photo-updater figure {
  margin: 0;
}

.photo-container__photo-src img {
  width: 100%;
}

.photo-container {
  float: left;
  padding: 0 0.5%;
  /*box-sizing: border-box;*/
  max-width: 11.6%;
}

.photo-container.revert {
  max-width: 23.92%;
}

.photo-container figcaption {
  display: none;
}
