.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.flexible-container {
  min-width: 800px;
  max-width: 1300px;
  width: 90%;
  margin: auto;
}

.header__order {
  width: 300px;
  float: left;
  margin-left: -300px;
}

.header__title {
  width: 100%;
  float: left;
}

.header__title__caption {
  margin-right: 310px;
}

.offer__feedback {
  float: left;
  width: 300px;
}
/** feedback */

.r5mFeedback__input,
.r5mFeedback__text {
  display: block;
  position: relative;
  margin-bottom: 10px;
  /*padding: 22px 15px 10px 15px;*/
  padding: 12px;
  /*font-size: 1.3rem;*/
  font-size: 20px;
  width: 100%;
  color: #252525;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #99999a;
}

.r5mFeedback__text {
  min-height: 80px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100%;
}

.r5mFeedback__label {
  position: relative;
  display: block;
}

.r5mFeedback__placeholder {
  position: absolute;
  top: 10px;
  display: block;
  z-index: 2;
  left: 16px;
  color: #99999a;
  font-size: 20px;
  cursor: text;
}

.r5mFeedback__placeholder-top {
  top: 1px;
  font-size: 14px;
  color: #666;
  cursor: initial;
}

.r5mFeedback__input-with-modern-placeholder {
  padding: 19px 15px 5px 15px;
}
