.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.flexible-container {
  min-width: 800px;
  max-width: 1000px;
  /*width: 90%;*/
  margin: auto;
  padding: 0 50px;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/*.skype_c2c_text_span {
  font: inherit!important;
}*/

.is-hidden {
  display: none;
}
