.footer {
  background: #1f1614 url('../images/footer-bg.jpg') no-repeat;
  background-size: cover;

  min-width: 100%;

  display: inline-block;

  color: #dedede;
}

.copyright {
  text-align: left;
}

.copyright__contact {
  margin: 0;
}

.footer-dark {
  padding: 20px 0;
  background: rgba(0,0,0,0.75);
}
