.footer {
  background: #1f1614 url('../images/footer-bg.jpg') no-repeat;
  background-size: cover;

  min-width: 100%;

  display: inline-block;

  color: #dedede;
  padding: 20px 0;
  margin-top: 40px;
}

.copyright {
  text-align: left;
}

.copyright__contact {
  margin: 0;
}
