.portfolio .photo-container {
  max-width: 19%;
}

.portfolio .r5m-gallery-link {
  color: #333;
  font-size: 0.85rem;
}

.portfolio .r5m-gallery-img figcaption {
  display: block;
  text-align: center;
}

.portfolio__row {
  margin-bottom: 40px;
}
