.pricing h2 {
  margin: 20px 0 0 0 ;
}

.pricing h3 {
  font-size: 1.5rem;
}

.pricing__item {
  padding: 40px 0;
}

.pricing__item__label {
  font-weight: bold;
}

.pricing__item__group-1,
.pricing__item__group-2 {
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.pricing__item__group-1 {
  padding: 0 40px 0 0;
}

.pricing__item__group-2 {
  padding: 0 0 0 40px;
}


.pricing__item__list {
  margin: 0;
  padding: 0 0 0 0;
  list-style-type: none;
}

.pricing__item__list .show-more {
  color: #ccc;
}

.pricing__item__list li {
  padding: 5px 0;
}

.pricing__item__list .show-more ~ li {
  display:none;
}

.pricing__item-alter {
  background: rgba(0,0,0,0.85);
}
.pricing__item-alter-wrapper {
  background: url('../images/whatis.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: #dedede;
}


.pricing__order {
  text-align: left;
}

.pricing__order__button {
  width: 100%;
  max-width: 300px;
  padding: 12px 0;
  margin: auto;
  border: none;
  border-radius: 3px;
  background: #e3c01c;
  cursor: pointer;
  color: black;

  font-size: 1.2rem;
}
