.stages__title {
  text-align: center;
}


.stages__blocks__stage__content-wrapper {
  width: 100%;
  float: left;
}

.stages__blocks__stage__figure {
  float: left;
  width: 400px;
  margin: 0;
}

.stages__blocks__stage {
  margin-bottom: 20px;
}

.stages__blocks__stage__content h3 {
  margin: 0 0 20px 0;
  text-align: center;
}

.stages__blocks__stage__content ul {
  list-style-type: none;
  padding: 0;
}
.stages__blocks__stage__content li {
  margin: 10px 0;
  text-align: left;
}

.stages__blocks__stage__figure__img {
  max-width: 100%;
}

.stages__blocks__stage:nth-child(odd) .stages__blocks__stage__figure {
  float: left;
  margin-left: -400px;
}

.stages__blocks__stage:nth-child(odd) .stages__blocks__stage__content {
  margin-right: 400px;
  float: left;

  padding: 0 40px 0 0;
}

.stages__blocks__stage:nth-child(even) .stages__blocks__stage__figure {
  float: left;
  margin-right: -400px;
}

.stages__blocks__stage:nth-child(even) .stages__blocks__stage__content {
  float: right;
  margin-left: 400px;

  padding: 0 0 0 40px;
}
