.wtf {
  color: #dedede;
  padding: 20px 0;
  background: rgba(0,0,0,0.85);
  /*height: 100vh;*/
}

.wtf__content__conclusion {
  text-align: center;
  font-weight: 600;
}

.wtf ul {
  padding: 0 20px 20px 20px;
  margin: 0;
  text-align: left;

  /*background: rgba(0, 0, 0, 0.5);*/
  list-style-type: none;
}

.wtf li {
  padding: 0 0 20px 0;
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  vertical-align: top;
}

.wtf li:nth-child(odd) {
  padding: 0 20px 20px 0;
}
