.about-me__image {
  float: none;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.about-me__content,
.review__content p,
.pre-order p {
  text-indent: 1.2em;
}

.about-me__certs .photo-container {
  max-width: 100%;
  margin: 0 0 10px 0;
}

.offer__subtitle br {
  display: none;
}




.madein {
  float: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.madein p {
  padding: 0;
}


.contacts__entry__value  {
  display: block;
  margin-bottom: 10px;
}

.contacts .contacts__entry,
.contacts .contacts-name {
  text-indent: 0;
}

.r5m-gallery-img figcaption {
  display: block;
  text-align: center;
  color: black;
  margin-bottom: 10px;
}
