.carousel__left-button__text,
.carousel__right-button__text {
  display: block;
  font-size: 15px;
  position: absolute;
  top: 0.75em;
  left: 2em;
}

.carousel__right-button__text {
  left: auto;
  right: 2em;
}

.carousel .carousel__left-button {
  position: static;
  margin: 20px 20px;
  float: left;
}

.carousel .carousel__right-button {
  position: static;
  margin: 20px 20px;
  float: right;
}

.carousel__inner-wrapper {
  clear: both;
}

.carousel {
  padding: 0;
}
