.header__title__caption {
  font-size: 1.3rem;
}

.header__title {
  margin-bottom: 20px;
}

.header-dark {
  padding: 10px 0;
}

.header__order {
  margin: 0 auto;
  text-align: center;
  float: none;
  width: auto;
}

.header__order__phone-wrapper {
  text-align: left;
  color: #f3da37;
}

.menu-container {
  clear: both;
  position: static;
  margin-top: 20px;
  text-align: left;
}

.header__title__caption {
  margin-bottom: 20px;
}

.header__title__subtitle {
  margin-top: 0;
}


.menu-container__list__item {
  padding: 0;
  text-align: left;
}

.menu-container__list__item a {
  padding: 2px 0;
  margin: 5px 10px 5px 0;
  display: inline-block;
  border-bottom: solid 1px;
}

.menu-container__list__item a:hover {
  border-width: 1px;
}

.header__order__call {
  display: none;
}
