.wtf li {
  width: 100%;
}

.stages__blocks .stages__blocks__stage .stages__blocks__stage__content-wrapper,
.stages__blocks .stages__blocks__stage .stages__blocks__stage__content,
.stages__blocks .stages__blocks__stage .stages__blocks__stage__figure {
  float: none;
  margin: 0;
  padding: 0;
}

.stages__blocks__stage__figure {
  width: auto;
}
