<footer class="footer">
  <div class="footer-dark">

    <div class="flexible-container">

      <div class="copyleft">
        <p class="copyright__contact">&copy;2016, Милихина Юлия</p>
        <p class="copyright__contact">г. Новокузнецк</p>
        <br/>
        <p class="copyright__contact"><span class="copyright__contact__label">телефон:</span> <a href="tel:+79049681827">+7 (904) 968 1827</a></p>
        <p class="copyright__contact"><span class="copyright__contact__label">email:</span> <a href="mailto:milihinajp@gmail.com">milihinajp@gmail.com</a></p>

      </div>
      <div class="madein">
        <p>
          Сделано в
          <a target="_blank" href="https://r5m.me">R5M group</a>
        </p>
      </div>
      
    </div>
  </div>
</footer>
