<header class="header clearfix">
  <div class="header-dark">
    <div class="flexible-container">
      <div class="header__title">
        <h1 class="header__title__caption">
          <a href="./">Профессиональный дизайн интерьера под&nbsp;ключ</a>
        </h1>
        <h2 class="header__title__subtitle">
          Преобразим вашу квартиру, дом или офис!
        </h2>
      </div>
      <div class="header__order">
        <div class="header__order__phone-wrapper">
          <p class="header__order__phone">
            +7 904 968 1827
          </p>
          <button class="header__order__call__link" data-action="r5mDimmer-show" data-type="call">
            Заказать звонок
            <span class="header__order__call__link__border"></span>
          </button>
        </div>
        <p class="header__order__call">
          <button class="header__order__call__button" data-action="r5mDimmer-show" data-type="question">
            Оставить заявку
          </button>
        </p>
      </div>

      <%- include('./_menu.ejs') %>
    </div>
  </div>
</header>
