<nav class="menu-container clearfix">
  <ul class="menu-container__list">
    <li class="menu-container__list__item">
      <a href="./">На главную</a>
    </li>
    <li class="menu-container__list__item">
      <a href="portfolio.html">Примеры работ</a>
    </li>
    <li class="menu-container__list__item">
      <a href="pricing.html">Цены</a>
    </li>
    <li class="menu-container__list__item">
      <a href="reviews.html">Отзывы</a>
    </li>
    <li class="menu-container__list__item">
      <a href="contacts.html">Контакты</a>
    </li>
  </ul>
</nav>
