<%- include('./_header.ejs'); %>

<section class="contacts pre-order">
  <div class="flexible-container">
    <h2>Контакты</h2>
    <p class="contacts-name">
      Милихина Юлия Павловна
    </p>
    <p class="contacts__entry">Телефон для связи: <span class="contacts__entry__value">+7 904 968 1827</span></p>
    <p class="contacts__entry">Электронная почта: <span class="contacts__entry__value">milihinajp@gmail.com</span></p>
  </div>
  <div class="flexible-container">
    <p class="last">
      Воспользуйтесь формой обратной связи ниже для получения консультации по интересующим Вас вопросам.
    </p>
  </div>
</section>
<%- include('./_offer.ejs'); %>
<%- include('./_footer.ejs'); %>


<%- include('./_forms.ejs'); %>
