<%- include('./_header.ejs'); %>
<section class="portfolio">
  <div class="flexible-container">
    <h2>Примеры моих работ</h2>
    <h3>Квартира площадью 157м<sup>2</sup>
    </h3>
    <div class="portfolio__work__description">
      <p>
        Интерьер квартиры для супружеской пары в эклектичном стиле (минимализм с элементами модерна). Хозяева – современные, успешные, спортивные молодые люди. Они любят путешествовать, умеют хорошо готовить и обожают своих домашних питомцев, кота и кошку.
      </p>
      <p>
        Требовалось соблюсти основные правила фэн-шуй, оставить много свободного пространства, организовать функциональную кухню и столовую для большого количества гостей. По желанию хозяев квартира разделена на приватную и гостевую зоны. Организованы уютные уголки для чтения и отдыха, сауна, места для хранения спортивного и туристического инвентаря. В центре квартиры «растёт» дерево, по нему лазают кошки, также ветви можно использовать в качестве турника.

      </p>
      <p>
        Квартира оснащена всем необходимым для комфортного проживания: принудительной системой вентиляции с рекуператором, кондиционерами, «тёплыми полами» и встроенным пылесосом.
      </p>
    </div>
    <div class="gallery-container" data-page-id="portfolio-157">
      <div class="portfolio__row clearfix">
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="План демонтажа" data-href="./images/examples/2.png">
              <img src="images/examples/2.png" alt="План демонтажа"/>
              <figcaption>План<br/>демонтажа</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="План монтажа перегородок" data-href="./images/examples/3.png">
              <img src="images/examples/3.png" alt="План монтажа перегородок"/>
              <figcaption>План монтажа<br/>перегородок</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="План расстановки мебели" data-href="./images/examples/4.png">
              <img src="images/examples/4.png" alt="План расстановки мебели"/>
              <figcaption>План расстановки<br/>мебели</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="План потолков" data-href="./images/examples/5.png">
              <img src="images/examples/5.png" alt="План потолков"/>
              <figcaption>План<br/>потолков</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link nomobile-only">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="План привязки выключателей" data-href="./images/examples/6.png">
              <img src="images/examples/6.png" alt="План привязки выключателей"/>
              <figcaption>План привязки выключателей</figcaption>
            </figure>
          </a>
        </div>
      </div>

      <div class="portfolio__row clearfix nomobile-only">
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="План расположения выключателей" data-href="./images/examples/7.png">
              <img src="images/examples/7.png" alt="План расположения выключателей"/>
              <figcaption>План расположения выключателей</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="План расположения розеток" data-href="./images/examples/8.png">
              <img src="images/examples/8.png" alt="План расположения розеток"/>
              <figcaption>План напольных
                <br/>розеток</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="План напольных покрытий" data-href="./images/examples/9.png">
              <img src="images/examples/9.png" alt="План напольных покрытий"/>
              <figcaption>План напольных покрытий</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="План теплых полов" data-href="./images/examples/10.png">
              <img src="images/examples/10.png" alt="План теплых полов"/>
              <figcaption>План теплых полов</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Размещение сан-тех. оборудования" data-href="./images/examples/12.png">
              <img src="images/examples/12.png" alt="Размещение сан-тех. оборудования"/>
              <figcaption>Размещение сан-тех. оборудования</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>

    <h3>Квартира площадью 73м<sup>2</sup>
    </h3>
    <div class="portfolio__work__description">
      <p>
        Для молодых супругов эта квартира – первое собственное жилище. Хозяйка квартиры задалась целью обустроить её идеально и сама активно участвовала в созидательном процессе.
      </p>
      <p>
        Необходима была гостиная для посиделок с друзьями и возможность трансформации её в две комнаты. Требовалось устроить много мест хранения, в том числе «гараж» для велосипедов, предусмотреть кабинет, найти место для большого уютного кресла на кухне, ванную сделать уютной и просторной и многое другое.
      </p>
      <p>
        Площадь и планировка помещения позволили выполнить все требования. В отделке использованы предпочтительно природные цвета: дерево, пробка, оттенки зелёного.
      </p>
    </div>
    <div class="gallery-container" data-page-id="portfolio-73">
      <div class="portfolio__row clearfix">
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Обмерочный план" data-href="./images/examples/73/1.jpg">
              <img src="images/examples/73/1.jpg" alt="Обмерочный план"/>
              <figcaption>Обмерочный<br/>план</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="План монтажа перегородок" data-href="./images/examples/73/2.jpg">
              <img src="images/examples/73/2.jpg" alt="План монтажа перегородок"/>
              <figcaption>План монтажа перегородок</figcaption>
            </figure>
          </a>
        </div>

        <div class="photo-container r5m-gallery-link  nomobile-only">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="План привязки выключателей к светильникам" data-href="./images/examples/73/3.jpg">
              <img src="images/examples/73/3.jpg" alt="План привязки выключателей к светильникам"/>
              <figcaption>План привязки выключателей</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link nomobile-only">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="План раскладки кафеля" data-href="./images/examples/73/4.jpg">
              <img src="images/examples/73/4.jpg" alt="План раскладки кафеля"/>
              <figcaption>План раскладки<br/>кафеля</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link nomobile-only">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Развертка стен" data-href="./images/examples/73/10.jpg">
              <img src="images/examples/73/10.jpg" alt="Развертка стен"/>
              <figcaption>Развертка<br/>стен</figcaption>
            </figure>
          </a>
        </div>
      </div>

      <div class="portfolio__row clearfix">
        <div class="photo-container r5m-gallery-link nomobile-only">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Визуализация (вид сверху)" data-href="./images/examples/73/5.jpg">
              <img src="images/examples/73/5.jpg" alt="Визуализация (вид сверху)"/>
              <figcaption>Визуализация (вид сверху)</figcaption>
            </figure>
          </a>
        </div>

        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Визуализация (гостиная)" data-href="./images/examples/73/6.jpg">
              <img src="images/examples/73/6.jpg" alt="Визуализация (гостиная)"/>
              <figcaption>Визуализация (гостиная)</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link nomobile-only">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Визуализация (гостиная)" data-href="./images/examples/73/7.jpg">
              <img src="images/examples/73/7.jpg" alt="Визуализация (гостиная)"/>
              <figcaption>Визуализация (гостиная)</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link nomobile-only">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Визуализация (гостиная)" data-href="./images/examples/73/8.jpg">
              <img src="images/examples/73/8.jpg" alt="Визуализация (гостиная)"/>
              <figcaption>Визуализация (гостиная)</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Визуализация (столовая)" data-href="./images/examples/73/9.jpg">
              <img src="images/examples/73/9.jpg" alt="Визуализация (столовая)"/>
              <figcaption>Визуализация (столовая)</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>

    <h3>Мансарда в загородном доме
    </h3>
    <div class="portfolio__work__description">
      <p>
        На неотапливаемом чердаке загородного дома потребовалось устройство дополнительной жилой комнаты для молодых супругов. Высота и конфигурация крыши позволили устроить полноценную спальню с местами хранения и зоной отдыха.
      </p>
      <p>
        Для отопления помещения выбран оригинальный камин, идеально подходящий для условий строительства: его вес всего 50 кг и не требует усиления перекрытия, мощность и устройство конвекторов оптимальны для отопления мансарды, а необычный дизайн подходит для современного интерьера. Камин установлен под углом так, что видом горящих поленьев можно любоваться и сидя на креслах, и прямо с кровати.
      </p>
      <p>
        В дальнейшем в комнату удобно вписалась детская кроватка. Стены и потолок устроены согласно теплотехническому расчёту. Отделка помещений и мебель выполнены из натуральных материалов.
      </p>
    </div>
    <div class="gallery-container" data-page-id="portfolio-house">
      <div class="portfolio__row clearfix">
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="План помещения" data-href="images/examples/house/1.png">
              <img src="images/examples/house/1.png" alt="План помещения"/>
              <figcaption>План помещения</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Визуализация #1" data-href="images/examples/house/2.jpg">
              <img src="images/examples/house/2.jpg" alt="Визуализация #1"/>
              <figcaption>Визуализация #1</figcaption>
            </figure>
          </a>
        </div>

        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Визуализация #2" data-href="images/examples/house/3.jpg">
              <img src="images/examples/house/3.jpg" alt="Визуализация #2"/>
              <figcaption>Визуализация #2</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link nomobile-only">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Визуализация #3" data-href="images/examples/house/4.jpg">
              <img src="images/examples/house/4.jpg" alt="Визуализация #3"/>
              <figcaption>Визуализация #3</figcaption>
            </figure>
          </a>
        </div>

      </div>

      <div class="portfolio__row clearfix">
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Фото #1" data-href="images/examples/house/5.jpg">
              <img src="images/examples/house/5.jpg" alt="Фото #1"/>
              <figcaption>Фото #1</figcaption>
            </figure>
          </a>
        </div>

        <div class="photo-container r5m-gallery-link nomobile-only">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Фото #2" data-href="images/examples/house/6.jpg">
              <img src="images/examples/house/6.jpg" alt="Фото #2"/>
              <figcaption>Фото #2</figcaption>
            </figure>
          </a>
        </div>

        <div class="photo-container r5m-gallery-link  nomobile-only">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Фото #3" data-href="images/examples/house/7.jpg">
              <img src="images/examples/house/7.jpg" alt="Фото #3"/>
              <figcaption>Фото #3</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Фото #4" data-href="images/examples/house/8.jpg">
              <img src="images/examples/house/8.jpg" alt="Фото #4"/>
              <figcaption><span class="nomobile-only">Фото #4</span><span class="mobile-only">Фото #2</span></figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>


    <h3>Кухня площадью 9м<sup>2</sup>
    </h3>
    <div class="portfolio__work__description">
      <p>
        В любой кухне главное – функциональность и комфорт для хозяйки очага. Чтобы прийти к идеальному варианту, было рассмотрено более 10 комбинаций мебели.
      </p>
      <p>
        Требовалось также вписать в помещение импульсивно приобретённый двухдверный холодильник.
        Решение задействовать обычно неиспользуемое узкое пространство возле входного проёма спасло положение.
      </p>
      <p>
        Всем кухонным принадлежностям хватило места, а конфигурация кухни получилась удобной и нестандартной. Цвета «утро в Африке» радуют глаз: зебрано, солнечно-жёлтый, песчаный. Большое панно с экзотическим цветком над обеденным столом дополняет задуманный образ.
      </p>
    </div>
    <div class="gallery-container" data-page-id="portfolio-house">
      <div class="portfolio__row clearfix">
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="План расстановки мебели" data-href="images/examples/kitchen9/1.png">
              <img src="images/examples/kitchen9/1.png" alt="План расстановки мебели"/>
              <figcaption>План расстановки мебели</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Визуализация #1" data-href="images/examples/kitchen9/2.jpg">
              <img src="images/examples/kitchen9/2.jpg" alt="Визуализация #1"/>
              <figcaption>Визуализация #1</figcaption>
            </figure>
          </a>
        </div>

        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Визуализация #2" data-href="images/examples/kitchen9/3.jpg">
              <img src="images/examples/kitchen9/3.jpg" alt="Визуализация #2"/>
              <figcaption>Визуализация #2</figcaption>
            </figure>
          </a>
        </div>

        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Фото #1" data-href="images/examples/kitchen9/4.jpg">
              <img src="images/examples/kitchen9/4.jpg" alt="Фото #1"/>
              <figcaption>Фото #1</figcaption>
            </figure>
          </a>
        </div>
      </div>

      <div class="portfolio__row clearfix">       

        <div class="photo-container r5m-gallery-link nomobile-only">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Фото #2" data-href="images/examples/kitchen9/5.jpg">
              <img src="images/examples/kitchen9/5.jpg" alt="Фото #2"/>
              <figcaption>Фото #2</figcaption>
            </figure>
          </a>
        </div>

        <div class="photo-container r5m-gallery-link  nomobile-only">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Фото #3" data-href="images/examples/kitchen9/6.jpg">
              <img src="images/examples/kitchen9/6.jpg" alt="Фото #3"/>
              <figcaption>Фото #3</figcaption>
            </figure>
          </a>
        </div>
        <div class="photo-container r5m-gallery-link">
          <a class="photo-container__photo-updater photo-container__photo-src" href="#">
            <figure class="r5m-gallery-img" data-alt="Фото #4" data-href="images/examples/kitchen9/7.jpg">
              <img src="images/examples/kitchen9/7.jpg" alt="Фото #4"/>
              <figcaption><span class="nomobile-only">Фото #4</span><span class="mobile-only">Фото #4</span></figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('./_footer.ejs'); %>
<%- include('./_forms.ejs'); %>
