<%- include('./_header.ejs'); %>
<section class="pricing">
  <h2>Виды работ и Цены</h2>
  <div class="pricing__item clearfix">
    <div class="flexible-container">

      <h3>Эскизный дизайн-проект</h3>
      <div class="pricing__item__group-1">
        <p class="pricing__item__result">
          <span class="pricing__item__label">Описание:</span><br/>
          <span class="pricing__item__description">
            Альбом чертежей и 3D-видов, достаточный для представления и понимания будущего вида помещения: зонирование пространства, стиль, цвет
          </span>
        </p>
        <p class="pricing__item__timings">
          <span class="pricing__item__label">Сроки:</span><br/>
          3-4 недели
        </p>
        <p class="pricing__item__timings">
          <span class="pricing__item__label">Цена:</span><br/>
          200-400 руб./м
          <sup>2</sup>
          в зависимости от сложности
        </p>

        <p class="pricing__order">
          <button class="pricing__order__button r5m-action" data-text="Эскизный дизайн-проект" data-action="r5mDimmer-show" data-type="question">
            Заказать
          </button>
        </p>
      </div>
      <div class="pricing__item__group-2">
        <p class="pricing__item__timings">
          <span class="pricing__item__label">Результат:</span>
          <ul class="pricing__item__list">
            <li>
              <i class="fa fa-check"></i>
              Обмерный чертеж
            </li>
            <li>
              <i class="fa fa-check"></i>
              3 варианта планировочных решений
            </li>
            <li>
              <i class="fa fa-check"></i>
              План перепланировки
            </li>
            <li>
              <i class="fa fa-check"></i>
              План расстановки мебели и оборудования
            <li>
              <i class="fa fa-check"></i>
              План пола с указанием типа напольного покрытия
            </li>
            <li>
              <i class="fa fa-check"></i>
              План потолка с освещением
            </li>
            <li>
              <i class="fa fa-check"></i>
              3D визуализация проекта
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>

  <%# 2nd %>
  <div class="pricing__item-alter-wrapper clearfix">
    <div class="pricing__item pricing__item-alter clearfix">
      <div class="flexible-container">
        <h3>Рабочий дизайн-проект</h3>
        <div class="pricing__item__group-1">
          <p class="pricing__item__result">
            <span class="pricing__item__label">Описание:</span><br/>
            <span class="pricing__item__description">
              Альбом чертежей и 3D-видов, отражающий будущий интерьер помещения и достаточный для выполнения строителями ремонтных работ
            </span>
          </p>
          <p class="pricing__item__timings">
            <span class="pricing__item__label">Сроки:</span><br/>
            1-2 недели
          </p>
          <p class="pricing__item__timings">
            <span class="pricing__item__label">Цена:</span><br/>
            от 400 руб./м
            <sup>2</sup>
            в зависимости от сложности
          </p>

          <p class="pricing__order">
            <button class="pricing__order__button r5m-action" data-text="Рабочий дизайн-проект" data-action="r5mDimmer-show" data-type="question">
              Заказать
            </button>
          </p>
        </div>
        <div class="pricing__item__group-2">
          <p class="pricing__item__timings">
            <span class="pricing__item__label">Результат:</span>
            <ul class="pricing__item__list">
              <li>
                <i class="fa fa-check"></i>
                Обмерный чертеж с привязкой инженерных коммуникаций
              </li>
              <li>
                <i class="fa fa-check"></i>
                До 3-х вариантов планировочных решений
              </li>
              <li>
                <i class="fa fa-check"></i>
                Планы демонтажа/монтажа перегородок
              </li>
              <li>
                <i class="fa fa-check"></i>
                План помещения после перепланировки и экспликация помещений
              </li>
              <li>
                <i class="fa fa-check"></i>
                План расстановки мебели
              </li>
              <a href="#more" class="show-more r5m-action" data-action="page-removeDOM">Смотреть полностью...</a>
              <li>
                <i class="fa fa-check"></i>
                План размещения санитарно-технического оборудования
              </li>
              <li>
                <i class="fa fa-check"></i>
                Планы полов, потолков, освещения и размещения электроустановочных изделий со спецификациями
              </li>
              <li>
                <i class="fa fa-check"></i>
                Развертка стен и спецификации
              </li>
              <li>
                <i class="fa fa-check"></i>
                Чертежи заказных конструкций, изделий в случае необходимости;
              </li>
              <li>
                <i class="fa fa-check"></i>
                Ведомость отделки помещений;
              </li>
              <li>
                <i class="fa fa-check"></i>
                3D визуализация проекта
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>

  <%# 3rd %>
  <div class="pricing__item clearfix">
    <div class="flexible-container">

      <h3>Авторский надзор</h3>
      <div class="pricing__item__group-1">
        <p class="pricing__item__result">
          <span class="pricing__item__label">Описание:</span><br/>
          <span class="pricing__item__description">
            Надзор, выполняемый дизайнером за производством работ на объекте в соответствии с дизайн-проектом
          </span>
        </p>
        <p class="pricing__item__timings">
          <span class="pricing__item__label">Цена:</span><br/>
          от 5000 руб./мес
        </p>
        <p class="pricing__item__timings">
          <i>
            Авторский надзор можно заказать совместно с другими услугами.
          </i>
        </p>
      </div>
      <div class="pricing__item__group-2">
        <p class="pricing__item__timings">
          <span class="pricing__item__label">Результат:</span>
          <ul class="pricing__item__list">
            <li>
              <i class="fa fa-check"></i>
              Неизбежно возникающие во время ремонта вопросы решаются своевременно и на месте
            </li>
            <li>
              <i class="fa fa-check"></i>
              Ошибки строителей вовремя замечены и исправлены
            </li>
            <li>
              <i class="fa fa-check"></i>
              Выезд дизайнера на объект по вызову Заказчика или прораба до 6-ти раз в месяц;
            </li>
            <li>
              <i class="fa fa-check"></i>
              Решение вопросов по проектной документации (по телефону и эл. почте)
            </li>
            <li>
              <i class="fa fa-check"></i>
              Корректировка чертежей по необходимости, возникшей в процессе ремонта.
            </li>

          </ul>
        </p>
      </div>
    </div>
  </div>

  <%# 4th %>
  <div class="pricing__item-alter-wrapper clearfix">
    <div class="pricing__item pricing__item-alter clearfix">
      <div class="flexible-container">

        <div class="pricing__item__group-1">
          <h3>Визуализация фотографического качества</h3>
          <p class="pricing__item__result">
            <span class="pricing__item__label">Описание:</span><br/>
            <span class="pricing__item__description">
              Визуализация дизайн-проекта выполняется в программе 3D Max Studio.
            </span>
          </p>
          <p class="pricing__item__timings">
            <span class="pricing__item__label">Цена:</span><br/>
            от 400 руб./м<sup>2</sup>
          </p>
          <p class="pricing__item__timings">
            <i>
              Визуализацию фотографического качества можно заказать совместно с другими услугами.
            </i>
          </p>
        </div>

        <div class="pricing__item__group-2">
          <h3>Дизайн-проект одного помещения</h3>
          <p class="pricing__item__result">
            <span class="pricing__item__label">Описание:</span><br/>
            <span class="pricing__item__description">
              Альбом чертежей и 3D-видов, отражающий будущий интерьер помещения и достаточный для выполнения строителями ремонтных работ
            </span>
          </p>
          <p class="pricing__item__timings">
            <span class="pricing__item__label">Цена:</span><br/>
            Жилая комната - от 450 руб./м<sup>2</sup><br/>
            Ванная комната, кухня - от 1000 руб./м<sup>2</sup>
          </p>
          <p class="pricing__order">
            <button class="pricing__order__button r5m-action" data-text="Дизайн-проект одного помещения" data-action="r5mDimmer-show" data-type="question">
              Заказать
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <%# 5th %>
  <div class="pricing__item clearfix">
    <div class="flexible-container">

      <h3>Разовые услуги</h3>
      <div class="pricing__item__group-1">
        <p class="pricing__item__result">
          <ul class="pricing__item__list">
            <li>
              <i class="fa fa-check"></i>
              Корректировка рабочих чертежей после демонтажа старых и возведения новых перегородок: 150-300р./чертёж
            </li>
            <li>
              <i class="fa fa-check"></i>
              Дополнительный рабочий чертёж: 500-1000р.
            </li>
          </span>
        </p>
      </div>
      <div class="pricing__item__group-2">
        <p class="pricing__item__result">
          <ul class="pricing__item__list">
            <li>
              <i class="fa fa-check"></i>
              Дополнительное планировочное решение: 700-1200р.
            </li>
            <li>
              <i class="fa fa-check"></i>
              Сопровождение заказчика при подборе напольных, настенных покрытий, а также других отделочных материалов и компонентов интерьера: 500р./час.
            </li>
          </span>
        </p>
      </div>
    </div>
  </div>
</section>

<%- include('./_footer.ejs'); %>
<%- include('./_forms.ejs'); %>
