<%- include('./_header.ejs'); %>

<section class="reviews clearfix">
  <div class="flexible-container">
    <h2>
      Отзывы
    </h2>
    <div class="additional-photo-wrapper">
      <ul class="reviews__separate-list">
        <li class="">
          <figure class="review__figure">
            <img alt="Квартира площадью 73 кв.м." class="review__figure__img" src="./images/review-1.jpg" />
          </figure>
          <div class="review__content-wrapper">
            <div class="review__content">
              <h3>
                  Квартира площадью 73 кв.м.
                </h3>
              <p>
                Обратилась за помощью к Юлии. Т.к. это был наш первый  с мужем ремонт, мы долго не могли понять, чего хотим.
              </p>
              <p>
                Юля грамотно распланировала этапы ремонта. Сделала замеры, подготовила варианты планировок. Помогала нам беседовать со строителями – наших знаний в ремонте хватало только на то, красиво это смотрится или некрасиво.
              </p>
              <p>
                Благодаря Юлии, мы сделали ремонт за максимально короткий срок и смогли переехать в нашу новую квартиру.
              </p>
              <p class="review__sign">
                Анна К., экономист, 30 лет
              </p>
            </div>
          </div>
        </li>
        <li class="">
          <figure class="review__figure">
            <img alt="Квартира площадью 157 кв.м." class="review__figure__img" src="./images/review-2.jpg" />
          </figure>
          <div class="review__content-wrapper">
            <div class="review__content">
              <h3>
                Квартира площадью 157 кв.м.
              </h3>
              <p>
                Уже через месяц мы получили готовый дизайн проект нашей квартиры. Это был план к действию! Все было продумано до мелочей, поэтому руководить ремонтом было очень легко.
              </p>
              <p>
                Если у нас оставались вопросы, то Юля давала нам подробные консультации. Также она периодически посещала квартиру и контролировала процессы ремонта. 
              </p>
              <p>
                Мы остались очень довольны ее работой и тем, что она помогла сбыться нашим мечтам!
              </p>
              <p class="review__sign">
                Ольга В., зам. директора по маркетингу, 34 года
              </p>
            </div>
          </div>
        </li>
        <li>
          <figure class="review__figure">
            <img alt="Кухня и прихожая" class="review__figure__img" src="./images/review-3.jpg" />
          </figure>
          <div class="review__content-wrapper">
            <div class="review__content">
              <h3>
                Кухня и прихожая
              </h3>
              <p>
                Заказывали кухню в мебельном салоне по Юлиным чертежам. Сотрудникам салона не пришлось ничего менять в проекте. И в результате я получила кухню своей мечты. А затем и прихожую.
              </p>
              <p>
                Сейчас уже обратилась к Юлии для разработки интерьера гостиной и спальни. Мне нравится, что Юля всегда старается предложить оригинальное решение,
              </p>
              <p>
                Профессиональный подход, осведомленность о современных тенденциях дизайна интерьеров, доброжелательное отношение к заказчику оставило самое приятное впечатление от работы с Юлией.
              </p>
              <p class="review__sign">
                Елена П., начальник IT-подразделения, 57 лет
              </p>
            </div>
          </div>
        </li>
        <li>
          <figure class="review__figure">
            <img alt="Комната для переговоров" class="review__figure__img" src="./images/review-4.jpg" />
          </figure>
          <div class="review__content-wrapper">
            <div class="review__content">
              <h3>
                Комната для переговоров
              </h3>
              <p>
                Заказывал у Юлии Милихиной дизайн комнаты переговоров! Она отрисовала три варианта. Выбрали рабочий, внесли корректировки.
              </p>
              <p>
                На всё ушло не больше недели. Результат даже превзошел ожидания. Плюс ко всему Юлия вела ещё авторский надзор и не пришлось бегать по городу в поисках светильников и декоративных элементов.
              </p>
              <p class="review__sign">
                Александр М., собственник бизнеса, 34 года
              </p>
            </div>
          </div>
        </li>
        <li>
          <figure class="review__figure">
            <img alt="Каминная зона для дачи" class="review__figure__img" src="./images/review-5.jpg" />
          </figure>
          <div class="review__content-wrapper">
            <div class="review__content">
              <h3>
                Каминная зона для дачи
              </h3>
              <p>
                Предложение дизайнера  выполнить защитную стенку для камина в виде елки было для нас очень неожиданным. С большим  интересом ждали результата! Работой дизайнера очень довольны.
              </p>
              <p>
                Стенка получилась: во-первых, необычной по форме, во-вторых - она выполнена в  очень приятной цветовой гамме, в-третьих - она создает атмосферу и уют и настроение.
              </p>
              <p>
                Теперь комната с камином стала любимой у всей семьи.
              </p>
              <p class="review__sign">
                Галина М., ведущий инженер, 60 лет
              </p>
            </div>
          </div>
        </li>
        <li>
          <figure class="review__figure">
            <img alt="Ванная и санузел" class="review__figure__img" src="./images/review-6.jpg" />
          </figure>
          <div class="review__content-wrapper">
            <div class="review__content">
              <h3>
                Ванная и санузел
              </h3>
              <p>
                В нашей квартире нужно было сделать капитальный ремонт кухни, ванной, туалета, а затем и зала. Обратились к Юлии, чтобы подобрать мебель, материалы, светильники.
              </p>
              <p>
                Результат понравился, получилось лучше, чем я ожидала.
              </p>
              <p class="review__sign">
                Наталья З., учитель, 54 года
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<%- include('./_offer.ejs'); %>
<%- include('./_footer.ejs'); %>


<%- include('./_forms.ejs'); %>
